.timer-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.timer {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 2rem;
}
