.main_section {
  width: 80vw;
  height: 80vh;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  padding: 5vh 10vw 5vh 10vw;
  background: linear-gradient(
    90deg,
    hsla(354, 95%, 24%, 1) 0%,
    hsla(234, 70%, 24%, 1) 100%
  );
}

@media (max-width: 1250px) {
  .main_section {
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    max-height: 90vh;
    width: 80vw;
  }

  .card {
    width: 90%;
    height: 40vh;
  }
}
