.main-header {
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background: radial-gradient(50% 50% at 50% 50%, #2d2424 0%, #000 100%);
}

.page-title {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  animation: floating 3s ease-in-out infinite;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
