.card {
  background: var(--bg);
  font-family: sans-serif;
  width: 20rem;
  height: 25rem;
  margin: 2vw;
  padding: 0.625rem;
  border-radius: 0.625rem;
  flex-direction: column;
  transition: ease-in-out 0.2s;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  box-shadow: 7px 2px 29px 0px rgba(184, 58, 58, 0.55);
  justify-content: flex-start;
  max-width: 300px;
  min-width: 300px;
  
}
.card-info {
  display: flex;
  width: 100%;
  height: 49%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.card:hover {
  background: var(--hover);
  box-shadow: 11px 24px 29px 0px rgba(0, 0, 0, 0.55);
}

.image-container {
  display: flex;
  width: 100%;
  height: 47.5%;
  flex-direction: column;
  border-radius: 0.625rem;
  border: 0;
  margin-bottom: 4%;
}

.image-container img {
  width: 100%;
  height: 100%;
  align-self: stretch;
  border-radius: 0.625rem;
  object-fit: cover;
}

.project-title {
  /* border: solid black 1px; */
  margin: 0;
  display: block;
  width: 100%;
  height: 10%;
  color: #000;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.project-description {
  /* border: solid black 1px; */
  margin: 0;
  display: flex;
  width: 100%;
  height: 18%;
}

.label-container {
  /* border: solid black 1px; */
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  align-content: flex-start;
  gap: 0.5625rem 0.625rem;
  flex-shrink: 0;
  align-self: stretch;
  scrollbar-width: none; /* Firefox */
  overflow-x: auto; /* For horizontal scrolling */
}
