@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
}

.square {
  width: 100%;
  height: 100%;
  border: 5px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 10rem;
  font-family: "Cairo Play", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.square:hover {
  background-color: #f0f0f0;
}

.board-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 1rem;
  border: solid 10px #000000;
  border-radius: 10px;
  background-color: #fff;
  background: rgba(85, 43, 96, 0.358);
  padding: 2rem;
}
